# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
venv/
.env

# Build
dist/
build/

# OS
.DS_Store

# IDE
.vscode/

# Uploads & Media
backend/uploads/
uploads/
*.mp4
*.webm
*.mov
*.avi
*.mkv
*.zip