FLASK_ENV=development
FLASK_DEBUG=1
MONGO_URI=mongodb://172.17.0.1:27017/shine
DB_NAME=shine
CORS_ORIGINS=https://test.emaxtech.com
PORT=5001
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_USE_TLS=true
